<div *ngIf="isView">

  <div class="pull-right">
    <button class="btn text-white bg-black" (click)="toggleView()">Add Configuration</button>
  </div>  
  <h1 class="page-header f-s-18">Episode Configuration </h1>

 <div class="row">
   <div class="col-sm-12">
    <cats-ag-grid-table [myGridId]="'episodeGrid'" [title]="'Episode'" [rowData]="episodeList"
    [dbAllcolumns]="columnDefs" [tableHeight]="tableHeight" [responseTime]="responseTime"
    (eventDetect)="onEventDetect($event)">
  </cats-ag-grid-table>
   </div>

  </div>
</div>
<div *ngIf="!isView">
  <h1 class="page-header f-s-18">Episode Configuration </h1>

  <!-- <h1 class="page-header f-s-18">Episode Configuration </h1> -->
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Name</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="episodeModel.name" placeholder="Enter Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Description</label>
    </div>
    <div class="col-md-4">
      <textarea placeholder="Enter Description"  [(ngModel)]="episodeModel.description" class="form-control" rows="4"></textarea>
    </div>
  </div>
  
  
  <hr class="bg-grey">
  <h1 class="page-header f-s-18">Alarm Mapping </h1>
  <div class="row mb-3">
    <div class="col-md-3">
      <label for="">NMS</label>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button type="button" class="btn btn-default" style="width:216px; color:#000000;">Select NMS</button>
        <a href="javascript:;" style="color: #000000;" class="btn btn-default dropdown-toggle"
          (click)="showDDNMS($event,globalFilterModal)" id="{{globalFilterModal.identifier}}"></a>
        <ul class="dropdown-menu pull-right" click-outside [listening]="globalFilterModal.isListenOnBlur"
          [Ident]="globalFilterModal.identifier" (clickOutSide)="globalFilterClickOutSideNMS($event)">
          <!-- <form name="search">
            <div class="mx-2 mb-2">
              <input type="search" #searchVal class="form-control form-control-sm" placeholder="Search..."
                aria-controls="data-table-default">
            </div>
          </form> -->
          <div class="scroll_div" id="style-4">
            <li class="container1">
              <label class="mb-0">
                <input type="checkbox" [(ngModel)]="globalFilterModal.masterSelectedNMS" name="list_name"
                  (change)="checkUncheckAll(globalFilterModal.nms,globalFilterModal.masterSelectedNMS)" />
                <span class="checkmark"
                  [ngClass]="(globalFilterModal.masterSelectedNMS) ?'bg-blue':''"></span>
                  <strong>Select/ Unselect All</strong>
              </label>
            </li>
            <!-- | filterByKey: 'name' :searchVal.value; let fvndx_=index; trackBy: trackByFn -->
            <li class="container1"
              *ngFor="let fVal_ of globalFilterModal.nms ">
              <label class="mb-0">{{fVal_.name}}
                <input type="checkbox" id="{{fvndx_}}" [(ngModel)]="fVal_.value" [checked]="fVal_.value"
                  (change)="isAllSelected(globalFilterModal.nms,'masterSelectedNMS')" />
                <span class="checkmark" [ngClass]="(fVal_.value) ?'bg-blue':''"></span>
              </label>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-3">
      <label for="">Alarms</label>
    </div>
      <!-- <select class="form-control m-b-10" [(ngModel)]="episodeModel.selectedAlarm" >
        <option  value=''>Select Alarms</option>
        <option *ngFor="let alarm of alarmList" [value]='alarm.master_alarm_guid'>{{alarm.alarm_name}}</option>
      </select> -->
      <div class="col-md-4">
        <div class="btn-group">
          <button type="button" class="btn btn-default" style="width:216px; color:#000000;">Select Alarm Type</button>
          <a href="javascript:;" style="color: #000000;" class="btn btn-default dropdown-toggle"
            (click)="showDDAlarmsType($event,globalFilterModalAlarmsType)" id="{{globalFilterModalAlarmsType.identifier}}"></a>
          <ul class="dropdown-menu pull-right" click-outside [listening]="globalFilterModalAlarmsType.isListenOnBlur"
            [Ident]="globalFilterModalAlarmsType.identifier" (clickOutSide)="globalFilterClickOutSideAlarmsType($event)">
            <!-- <form name="search">
              <div class="mx-2 mb-2">
                <input type="search" #searchVal class="form-control form-control-sm" placeholder="Search..."
                  aria-controls="data-table-default">
              </div>
            </form> -->
            <div class="scroll_div" id="style-4">
              <li class="container1">
                <label class="mb-0">
                  <input type="checkbox" [(ngModel)]="globalFilterModalAlarmsType.masterSelectedAlarmsType" name="list_name"
                    (change)="checkUncheckAllAlarmsType(globalFilterModalAlarmsType.AlarmsType,globalFilterModalAlarmsType.masterSelectedAlarmsType)" />
                  <span class="checkmark"
                    [ngClass]="(globalFilterModalAlarmsType.masterSelectedAlarmsType) ?'bg-blue':''"></span>
                    <strong>Select/ Unselect All</strong>
                </label>
              </li>
              <!-- | filterByKey: 'name' :searchVal.value; let fvndx_=index; trackBy: trackByFn -->
              <li class="container1"
                *ngFor="let fVal_ of globalFilterModalAlarmsType.AlarmsType ">
                <label class="mb-0">{{fVal_.alarm_name}}
                  <input type="checkbox" id="{{fvndx_}}" [(ngModel)]="fVal_.value" [checked]="fVal_.value"
                    (change)="isAllSelectedAlarmsType(globalFilterModalAlarmsType.AlarmsType,'masterSelectedAlarmsType')" />
                  <span class="checkmark" [ngClass]="(fVal_.value) ?'bg-blue':''"></span>
                </label>
              </li>
            </div>
          </ul>
        </div>
      </div>
  </div>
  
  <hr class="bg-grey">
  <h1 class="page-header f-s-18">Filter Mapping </h1>
  <div class="row" *ngFor="let ele of episodeModel.filterMapping;let i=index;let last=last;">
    <div class="col-md-3">
      <select class="form-control m-b-10"  [(ngModel)]="ele.filter"> 
        <option value=''>Select Filter</option>
        <option *ngFor="let filter of filterList" [value]='filter.id'>{{filter.display_name}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control m-b-10"  [(ngModel)]="ele.operator">
        <option value=''>Select Operator</option>
        <option *ngFor="let operator of operatorList" [value]='operator.id'>{{operator.display_name}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control"   [(ngModel)]="ele.value"placeholder="Enter Value">
    </div>
    <div class="col-md-3">
      <a (click)="addFilter()" class="btn btn-dark mr-2 text-white" *ngIf="last">ADD</a>
      <a (click)="removeFilter(i)" class="btn btn-dark  text-white"><i class="fa fa-times"></i></a>
    </div>
  </div>
  
  
  <hr class="bg-grey">
  <h1 class="page-header f-s-18">Notification </h1>
  <div class="row" *ngFor="let ele of episodeModel.notificationMapping;let i=index;let last=last;"> 
    <div class="col-md-3">
      <select class="form-control m-b-10"   [(ngModel)]="ele.type">
        <option value=''>Select Types</option>
        <option value='Email'>Email</option>
        <option value='SMS'>SMS</option>
        <option value='Ticket'>Ticket</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Enter Value"   [(ngModel)]="ele.value">
    </div>
    <div class="col-md-3">
      <a  (click)="addNotification()" class="btn btn-dark text-white mr-2" *ngIf="last">ADD</a>
      <a (click)="removeNotification(i)" class="btn btn-dark text-white"><i class="fa fa-times"></i></a>
    </div>
  </div>
  
  <hr class="bg-grey">
  <h1 class="page-header f-s-18">Template </h1>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Subject</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="episodeModel.subject"  placeholder="Enter Subject">
    </div>
    <div class="col-md-3">
      <div class="btn-group">
        <button class="btn btn-default btn-sm active" (click)="append('subject','time')">Time</button>
        <button class="btn btn-default btn-sm"  (click)="append('subject','host')">Host</button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Body</label>
    </div>
  
    <div class="col-md-4">
      <textarea placeholder="Write Email" [(ngModel)]="episodeModel.body" class="form-control" rows="5"></textarea>
    </div>
    <div class="col-md-3">
      <div class="btn-group">
        <button class="btn btn-default btn-sm" (click)="append('body','time')">Time</button>
        <button class="btn btn-default btn-sm active" (click)="append('body','host')">Host</button>
        <button class="btn btn-default btn-sm" (click)="append('body','signature')">Signature</button>
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <a class="btn btn-primary mr-2 text-white" (click)="submit()">SUBMIT</a> 
        <a class="btn btn-primary mr-2 text-white" (click)="toggleView()">CANCEL</a>
      </div>
    </div>
</div>


