<div [class.isPrinting]="printService.isPrinting">
  <h5 mat-dialog-title>Alarm Description -{{title}}
    <button type="button" class="close" style="float:right;" mat-dialog-close>×</button></h5>
  <!-- <mat-dialog-content>    
          <form class="form" role="form" autocomplete="off">  
          <div class="form-group row mb-2" *ngFor="let h of actionformdataEventsKeys;let i=index;">
            <label class="col-lg-3 col-form-label form-control-label">{{h}}</label>
            <div class="col-lg-9">
              <input readonly  class="form-control form-control-sm" type="text" 
              title="{{actionformdataEvents[h]}}" [(ngModel)]="actionformdataEvents[h]" name="{{h}}" id="firstname">
            </div>
          </div>
           </form>  
      </mat-dialog-content>    -->

  <mat-dialog-content>
    <div class="modal-body p-0" id="tab_w_25" style="background-color: #ffffff;">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="d-sm-none">Alarm Details</span>
            <span class="d-sm-block d-none">Alarm Details</span>
          </ng-template>
          <!-- style="height:330px; overflow:auto;" -->
          <ng-template ngbTabContent>
            <div class="style-4 row">
              <div class="col-md-12">
                <p class="mb-3"><strong>Description : </strong>{{this.actionformdataEvents?this.actionformdataEvents['Description']:""}} </p>
                <div class="row details" >
                  <div class="col-md-6" *ngFor="let key of actionformdataEventsKeys">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize" *ngIf="key!='Description' && actionformdataEvents[key]!=' ' && actionformdataEvents[key]!='undefined' && actionformdataEvents[key]!='null'"><strong>{{key}}</strong></div>
                      <div class="col-md-8"  *ngIf="key!='Description' && actionformdataEvents[key]!=' ' && actionformdataEvents[key]!='undefined' && actionformdataEvents[key]!='null'">{{this.actionformdataEvents?this.actionformdataEvents[key]:""}}</div>
                    </div>
                    <!-- <div class="left">{{key}} </div>
                    <div class="right">{{this.actionformdataEvents?this.actionformdataEvents[key]:""}}</div> -->
                  </div>  
                  <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Device Name</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['device_name']:""}}</div>
                    </div>
                   </div>   
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Latitude</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['latitude']:""}}</div>
                    </div>
                   </div>   
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Longitude</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['longitude']:""}}</div>
                    </div>
                   </div>   
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Address</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['address']:""}}</div>
                    </div>
                   </div>
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Building</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['building']:""}}</div>
                    </div>
                   </div>  
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>City</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['city']:""}}</div>
                    </div>
                   </div>  
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>suburb</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['suburb']:""}}</div>
                    </div>
                   </div> 
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Sub Division</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['sub_division']:""}}</div>
                    </div>
                   </div>  
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Device Type</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['device_type']:""}}</div>
                    </div>
                   </div>  
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Pe Pop City</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['pe_pop_city']:""}}</div>
                    </div>
                   </div> 
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Pe Pop Latitude South</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['pe_pop_latitude_south']:""}}</div>
                    </div>
                   </div> 
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Pe Pop Longitude East</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['pe_pop_longitude_east']:""}}</div>
                    </div>
                   </div> 
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Pe Pop Name</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['pe_pop_name']:""}}</div>
                    </div>
                   </div> 
                   <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-4 text-capitalize"><strong>Pe Pop Province</strong></div>
                      <div class="col-md-8">{{this.deviceInfoData?this.deviceInfoData['pe_pop_province']:""}}</div>
                    </div>
                   </div>
                                    
                </div>
              </div>

              <!-- <table class="table table-bordered mb-0 table-sm">
                <tr >
                  <td width="20%" class="text-capitalize"><strong></strong></td>
                  <td width="80%"></td>
                </tr>
              </table> -->
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="d-sm-none">Child Events</span>
            <span class="d-sm-block d-none">Child Events</span>
          </ng-template>
          <ng-template ngbTabContent>
            <cats-ag-grid-table [title]="title" [myGridId]="'alarmEventChild'" [rowData]="alarmChildEvent"
              [dbAllcolumns]="dbAllcolumns" [tableHeight]="tableHeight" [timeRange]="timeRange"
              [responseTime]="responseTime" [showSetting]="showSetting" (eventDetect)="onEventDetect($event)">
            </cats-ag-grid-table>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="d-sm-none">Topology View</span>
            <span class="d-sm-block d-none">Topology View</span>
          </ng-template>
          <ng-template ngbTabContent>
           Topology View
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="d-sm-none">Map View</span>
            <span class="d-sm-block d-none">Map View</span>
          </ng-template>
          <ng-template ngbTabContent>
            Map View
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>

  </mat-dialog-content>
</div>