    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
      <li class="breadcrumb-item">
          <button (click)="open(modalDialog,'lg')" class="btn btn-md " [ngClass]="[(themeConf_.selectedColor == 'default') ? 'bg-black':'bg-'+themeConf_.selectedColor]">Add
          Reports &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i> </button>
      </li>
  </ol>

  <div class="In2_top_filter">
      <div class="pull-right" style="margin-right:10px;">
          <button type="button" (click)="onGlobalFilterToggle();" class="slide-toggle btn btn-md" [ngClass]="[(themeConf_.selectedColor == 'default') ? 'bg-black':'bg-'+themeConf_.selectedColor]">Filters
          <i class="fa fa-filter" aria-hidden="true"></i></button>
      </div>
      <div class="gf_box pull-right" style="display:none">
          <div class="box-inner">
              <div class="pull-right">
                  <div class="button-group">
                      <button type="button" class="btn btn-md" (click)="onGlobalFilterChange();onGlobalFilterToggle();" [ngClass]="[(themeConf_.selectedColor == 'default') ? 'bg-black':'bg-'+themeConf_.selectedColor]">Apply</button>
                  </div>
              </div>

              <!-- original customer-->
              <div class="pull-right" style="margin-right:10px;">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default" style="width:90px; color:#000000;">NMS</button>
                      <a href="javascript:;" style="color: #000000;" class="btn btn-default dropdown-toggle" (click)="showDD($event,globalFilterModal)" id="{{globalFilterModal.identifier}}"></a>
                      <ul class="dropdown-menu pull-right" click-outside [listening]="globalFilterModal.isListenOnBlur" [Ident]="globalFilterModal.identifier" (clickOutSide)="globalFilterClickOutSide($event)">
                          <form name="search">
                              <div class="mx-2 mb-2">
                                  <input type="search" #searchVal class="form-control form-control-sm" placeholder="Search..." aria-controls="data-table-default">
                              </div>
                          </form>
                          <div class="scroll_div" id="style-4">
                              <li class="container1">
                                  <label class=""><strong>Select/ Unselect All</strong>
                                  <input type="checkbox" [(ngModel)]="globalFilterModal.masterSelectedCustomer"
                                      name="list_name"
                                      (change)="checkUncheckAll(globalFilterModal.customers,globalFilterModal.masterSelectedCustomer)" />
                                  <span class="checkmark"
                                      [ngClass]="(globalFilterModal.masterSelectedCustomer) ?'bg-'+(themeConf_.selectedColor):''"></span>
                              </label>
                              </li>
                              <li class="container1" *ngFor="let fVal_ of globalFilterModal.customers | filterByKey: 'name' :searchVal.value; let fvndx_=index; trackBy: trackByFn">
                                  <label class="">{{fVal_.name}}
                                  <input type="checkbox" id="{{fvndx_}}" [(ngModel)]="fVal_.value"
                                      [checked]="fVal_.value"
                                      (change)="isAllSelected(globalFilterModal.customers,'masterSelectedCustomer')" />
                                  <span class="checkmark"
                                      [ngClass]="(fVal_.value) ?'bg-'+(themeConf_.selectedColor):''"></span>
                              </label>
                              </li>
                          </div>
                      </ul>
                  </div>
              </div>


              <!--- chandan test-->
              <!-- <div class="pull-right" style="margin-right:10px;">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default" style="width:110px;">
                      Assignee Group</button>
                      <a href="javascript:;" class="btn btn-default dropdown-toggle" (click)="showDDAssigneeGroup($event,globalFilterModal)" id="{{globalFilterModal.identifier_AssigneeGroup}}"></a>
                      <ul class="dropdown-menu" click-outside [listening]="globalFilterModal.isListenOnBlur_AssigneeGroup" [Ident]="globalFilterModal.identifier_AssigneeGroup" (clickOutSide)="globalFilterClickOutSideAssigneeGroup($event)">

                          <li class="container1">
                              <label class=""><strong>Select/ Unselect All</strong>
                              <input type="checkbox" [(ngModel)]="globalFilterModal.masterSelectedAsigneeGroup"
                                  [checked]="globalFilterModal.masterSelectedAsigneeGroup" name="list_name"
                                  (change)="checkUncheckAllAsigneeGroup(globalFilterModal.asd,globalFilterModal.nonAsd)" />
                              <span class="checkmark"></span>
                          </label>
                          </li>
                          <li class="container1">
                              <ng-container *ngIf="!globalFilterModal.isListenOnBlurASD">
                                  <label class="" (click)="showDDASDTemp($event,globalFilterModal,globalFilterModal.identifier_AssigneeGroup+'inner-1-submenu','isListenOnBlurASD')" id="{{globalFilterModal.identifier_AssigneeGroup+'inner-1'}}">
                                  <strong>ASD <i class="fa fa-caret-right"></i></strong>
                                  <span class="">
                                  </span>
                              </label>
                              </ng-container>

                              <ng-container *ngIf="globalFilterModal.isListenOnBlurASD">
                                  <label class="" (click)="hideDDASDTemp($event,globalFilterModal,globalFilterModal.identifier_AssigneeGroup+'inner-1-submenu','isListenOnBlurASD')" id="{{globalFilterModal.identifier_AssigneeGroup+'inner-1'}}">
                                  <strong>ASD <i class="fa fa-caret-down"></i></strong>
                                  <span class="">
                                  </span>
                              </label>
                              </ng-container>

                              <ul class="dropdown-menu asd style-4" style="max-height:200px;width:161px;overflow: auto" id="{{globalFilterModal.identifier_AssigneeGroup+'inner-1-submenu'}}" click-outside [listening]="globalFilterModal.isListenOnBlurASD" [Ident]="(globalFilterModal.identifier_AssigneeGroup)+'inner-1'"
                                  (clickOutSide)="globalFilterClickOutSideASD($event)">

                                  <li class="container1">
                                      <label class=""><strong>Select All ASD</strong>
                                      <input type="checkbox" [(ngModel)]="globalFilterModal.masterSelectedASD"
                                          [checked]="globalFilterModal.masterSelectedASD" name="list_name"
                                          (change)="checkUncheckAll(globalFilterModal.asd,globalFilterModal.masterSelectedASD)" />
                                      <span class="checkmark"
                                          [ngClass]="(globalFilterModal.masterSelectedASD) ?'bg-'+(themeConf_.selectedColor):''"></span>
                                  </label>
                                  </li>


                                  <li class="container1" *ngFor="let fVal_ of globalFilterModal.asd; let fvndx_=index;">
                                      <label class="">{{fVal_.name}}
                                      <input type="checkbox" id="{{fvndx_}}"
                                          (change)="isAllSelected(globalFilterModal.asd,'masterSelectedASD')"
                                          [(ngModel)]="fVal_.value" [checked]="fVal_.value" />
                                      <span class="checkmark"
                                          [ngClass]="(fVal_.value) ?'bg-'+(themeConf_.selectedColor):''"></span>
                                  </label>
                                  </li>
                              </ul>

                          </li>


                          <li class="container1">
                              <ng-container *ngIf="!globalFilterModal.isListenOnBlurNONASD">
                                  <label class="" (click)="showDDASDTemp($event,globalFilterModal,globalFilterModal.identifier_AssigneeGroup+'inner-2-submenu','isListenOnBlurNONASD')" id="{{globalFilterModal.identifier_AssigneeGroup+'inner-2'}}"><strong>NON ASD <i
                                          class="fa fa-caret-right"></i></strong>
                                  <span class="">
                                  </span>
                              </label>
                              </ng-container>

                              <ng-container *ngIf="globalFilterModal.isListenOnBlurNONASD">
                                  <label class="" (click)="hideDDASDTemp($event,globalFilterModal,globalFilterModal.identifier_AssigneeGroup+'inner-2-submenu','isListenOnBlurNONASD')" id="{{globalFilterModal.identifier_AssigneeGroup+'inner-2'}}">
                                  <strong>NON ASD <i class="fa fa-caret-down"></i></strong>
                                  <span class="">
                                  </span>
                              </label>
                              </ng-container>

                              <ul class="dropdown-menu non-asd style-4" style="max-height:200px;width:161px;overflow: auto" id="{{globalFilterModal.identifier_AssigneeGroup+'inner-2-submenu'}}" click-outside [listening]="globalFilterModal.isListenOnBlurNONASD" [Ident]="(globalFilterModal.identifier_AssigneeGroup)+'inner-2'"
                                  (clickOutSide)="globalFilterClickOutSideNONASD($event)">

                                  <li class="container1">
                                      <label class=""><strong>Select All NON-ASD</strong>
                                      <input type="checkbox" [(ngModel)]="globalFilterModal.masterSelectedNONASD"
                                          [checked]="globalFilterModal.masterSelectedNONASD" name="list_name"
                                          (change)="checkUncheckAll(globalFilterModal.nonAsd,globalFilterModal.masterSelectedNONASD)" />
                                      <span class="checkmark"
                                          [ngClass]="(globalFilterModal.masterSelectedNONASD) ?'bg-'+(themeConf_.selectedColor):''"></span>
                                  </label>
                                  </li>


                                  <li class="container1" *ngFor="let fVal_ of globalFilterModal.nonAsd; let fvndx_=index;">
                                      <label class="">{{fVal_.name}}
                                      <input type="checkbox"
                                          (change)="isAllSelected(globalFilterModal.nonAsd,'masterSelectedNONASD')"
                                          id="{{fvndx_}}" [(ngModel)]="fVal_.value" [checked]="fVal_.value" />
                                      <span class="checkmark"
                                          [ngClass]="(fVal_.value) ?'bg-'+(themeConf_.selectedColor):''"></span>
                                  </label>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </div>
              </div> -->
              <div class="pull-right" style="margin-right:10px;">
                  <div class="button-group">
                      <app-time-filter [configStyle]="{'width':'220','bgColor':'#ececec','border':'1px solid #ccc' ,'customRanges':dateFillter_customRanges ,'startDate':dateFilter_startDate ,'endDate':dateFilter_endDate ,'timeType':dateFilter_timeType ,'timePicker':true}">
                      </app-time-filter>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <!-- <h1 class="page-header">{{userTab_ ?userTab_.name :''}} <span *ngIf="repDetail.isLoaded">{{repDetail.timeString}}</span>
  </h1> -->

  <h1 class="page-header">Heading <span *ngIf="repDetail.isLoaded">goes here</span>
  </h1>
  <!-- <div class="m-b-10 f-s-10"><b class="text-inverse">{{userTab_ ? userTab_.description :''}}
      &nbsp;</b></div> -->
      <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-inverse">
                <div class="panel-heading ui-sortable-handle">
                    <div>
                        <h4 class="panel-title">heading goes here</h4>
                        <h4 class="panel-title">    
                            <!-- <a href="javascript:;">    
                                <i class="fas fa-md fa-fw m-r-40 fa-circle led-red float-right"
                                    style="margin-top:-20px;color:red; font-size: 12px;border-radius: 50px;width: 15px"></i>
                            </a> -->
                            <a href="javascript:;">    
                                <i class="fas fa-md fa-fw m-r-10 fa-caret-down float-right" style="margin-top:-20px;"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="bootstrap-calendar">
                    <div class="">
                        <div class="table-responsive">
                            <table class="table table-sm m-b-0 text-center">
                                <thead>
                                    <tr class="active">
                                        <th class="bg-1">Total Events</th>
                                        <th class="bg-1">Total Alarms</th>
                                        <th class="bg-1">Total Incidents</th>
                                        <th class="bg-1">Noise Reduction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active">
                                        <td class="bg-1">10</td>
                                        <td class="bg-1">20</td>
                                        <td class="bg-1">65</td>
                                        <td class="bg-1">87</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table-responsive chart_table">
                            <table  class="table table-sm m-b-0 t1">
                                <thead>
                                    <tr>
                                        <th>Agent</th>
                                        <th>Critical</th>
                                        <th>Major</th>
                                        <th>Minor</th>
                                        <th>Warning</th>
                                        <th>Error</th>
                                        <th>Alert</th>
                                        <th>Debug</th>
                                    </tr>
                                </thead>
                                <tbody class="style-4" style="height:160px; overflow:auto;">
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                </tbody>
                            </table>
                         </div>
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-inverse">
                <div class="panel-heading ui-sortable-handle">
                    <div>
                        <h4 class="panel-title">heading goes here</h4>
                        <h4 class="panel-title">    
                          
                            <!-- <a href="javascript:;" (click)="radio(item.name)">    
                                <i class="fas fa-md fa-fw m-r-10 fa-caret-down float-right" style="margin-top:-20px;"></i>
                            </a> -->
                            <a>    
                                <i class="fas fa-md fa-fw m-r-10 fa-caret-down float-right" style="margin-top:-20px;"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="bootstrap-calendar">
                        <div class="table-responsive">
                            <table class="table table-sm m-b-0 text-center">
                                <thead>
                                    <tr class="active">
                                        <th class="bg-4">Total Events</th>
                                        <th class="bg-4">Total Alarms</th>
                                        <th class="bg-4">Total Incidents</th>
                                        <th class="bg-4">Noise Reduction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active">
                                        <td class="bg-4">10</td>
                                        <td class="bg-4">20</td>
                                        <td class="bg-4">65</td>
                                        <td class="bg-4">87</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table-responsive chart_table">
                            <table  class="table table-sm m-b-0 t1">
                                <thead>
                                    <tr>
                                        <th>Agent</th>
                                        <th>Critical</th>
                                        <th>Major</th>
                                        <th>Minor</th>
                                        <th>Warning</th>
                                        <th>Error</th>
                                        <th>Alert</th>
                                        <th>Debug</th>
                                    </tr>
                                </thead>
                                <tbody class="style-4" style="height:160px; overflow:auto;">
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                    <tr>
                                        <td>test</td>
                                        <td>29</td>
                                        <td>25</td>
                                        <td>20</td>
                                        <td>115</td>
                                        <td>90</td>
                                        <td>76</td>
                                        <td>84</td>
                                    </tr>
                                </tbody>
                            </table>
                         </div>
                        </div>
                </div>
    
            </div>
        </div>
      </div>














<ng-template #modalDialog let-c="close" let-d="dismiss">
  <div class="modal-header" [ngClass]="[(themeConf_.selectedColor == 'default') ? 'bg-black':'bg-'+themeConf_.selectedColor]">
      <h4 class="modal-title" style="color:#fff;">Add Reports</h4>
      <button type="button" class="close" (click)="d('Cross click');clearModalAddReports();" style="color:#fff;">×</button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-lg-12 ui-sortable">
              <div class="panel " style="
    margin-bottom: 20px !important;
    background-color: #fff !important;
    border: none !important;
    box-shadow: 0 2px 10px rgba(0,0,0,.15) !important;
    border-radius: 3px !important;">
                  <div class="panel-body panel-form">
                      <hr>
                      <form name="addReportForm" #f="ngForm" class="form-horizontal form-bordered">
                      
                          <div class="form-group row">
                            <label class="col-md-5 col-form-label">Name <sup style="color:#FF0000">*</sup></label>
                            <div class="col-md-7">
                                <input type="text" [(ngModel)]="modAddReports_.selReportName" #selReportName="ngModel" name="selReportName" class="form-control" [required]="'true'" />
                            </div>
                            <!-- <div *ngIf="!f.form.controls['selReportName'].valid && f.form.controls['selReportName'].touched">Report Name is required</div> -->
                        </div>
                          <div class="form-group row">
                              <label class="col-md-5 col-form-label">Select Technology <sup style="color:#FF0000">*</sup></label>
                              <div class="col-md-7">
                                  <select id="myDropDown" name="choose-reports" [(ngModel)]="modAddReports_.selReport" (change)="onReportSelect($event.target.value)" class="form-control" #selReport="ngModel" name="" [required]="'true'">
                                  <ng-container *ngIf="flagIsReportLoading">
                                      <option value="">Loading ... </option>
                                  </ng-container>

                                  <ng-container *ngIf="!flagIsReportLoading">
                                      <option value="">Select Technology</option>
                                      <option *ngFor="let report of modAddReports_.reports" value={{report.id}}>
                                          {{report.name}}</option>
                                  </ng-container>

                              </select>
                              </div>
                              <!-- <div *ngIf="!f.form.controls['selReport'].valid && f.form.controls['selReport'].touched">Report is required</div> -->
                          </div>
                          <div class="form-group row">
                              <label class="col-md-5 col-form-label">Select NMS <sup
                                  style="color:#FF0000">*</sup></label>
                              <div class="col-md-7">
                                  <select name="choose-charts" [(ngModel)]="modAddReports_.selChartType" (change)="onChartSelect($event.target.value)" class="form-control" #selChartType="ngModel" name="" [required]="'true'">

                                  <ng-container *ngIf="flagIsChartTypeLoading">
                                      <option value="">Loading ... </option>
                                  </ng-container>

                                  <ng-container *ngIf="!flagIsChartTypeLoading">
                                      <option value="">Select NMS</option>
                                      <option *ngFor="let chart of modAddReports_.charts" value={{chart.id}}>
                                          {{chart.chart_name | titlecase}}</option>
                                  </ng-container>
                              </select>
                              </div>
                              <!-- <div *ngIf="!f.form.controls['selChartType'].valid && f.form.controls['selChartType'].touched">Chart Type is required</div> -->
                          </div>
                       
                      </form>
                  </div>
              </div>
          </div>

       
      </div>
  </div>
  <!-- *ngIf="f.form.valid" -->
  <div class="modal-footer">
      <a href="javascript:;" id="closeAddReportButton" class="btn btn-default text-black" data-dismiss="modal" (click)="d('Cross click');clearModalAddReports();">Cancel</a>
      <a href="javascript:;" (click)="addReportToTab()" class="btn btn-md bg-black">Add Reports</a>
  </div>
</ng-template>