<nav class="navigation">
    <ul class="mainmenu">
      <li><a href=""><i class="fa fa-caret-right"></i>  Event Type</a>
        <ul class="submenu">
            <li><a href=""><i class="fa fa-caret-right"></i>  Authorization</a></li>
            <li><a href=""><i class="fa fa-caret-right"></i>  Configuration</a></li>
            <li><a href=""><i class="fa fa-caret-right"></i>  Other</a></li>
          </ul></li>
      <li><a href=""><i class="fa fa-caret-right"></i>  NMS</a>
        <ul class="submenu">
            <li><a href=""><i class="fa fa-caret-right"></i>  Nagios</a></li>
            <li><a href=""><i class="fa fa-caret-right"></i>  U2000</a></li>
            <li><a href=""><i class="fa fa-caret-right"></i>  M2000</a></li>
            <li><a href=""><i class="fa fa-caret-right"></i>  Tejas</a></li>
          </ul>
      </li>
      <li><a href=""><i class="fa fa-caret-right"></i>  Service Now</a>
        <ul class="submenu">
          <li><a href=""><i class="fa fa-caret-right"></i>  Change</a></li>
          <li><a href=""><i class="fa fa-caret-right"></i>  Incident</a></li>
          <li><a href=""><i class="fa fa-caret-right"></i>  Problem</a></li>
        </ul>
      </li>
      <li><a href=""><i class="fa fa-caret-right"></i>  Syslog</a>
        <ul class="submenu">
          <li><a href=""><i class="fa fa-caret-right"></i>  Syslog 1.1</a></li>
          <li><a href=""><i class="fa fa-caret-right"></i>  Syslog 1.1</a></li>
          <li><a href=""><i class="fa fa-caret-right"></i>  Syslog 1.2</a></li>
        </ul>
      </li>
    </ul>
  </nav>