<div *ngIf="isView">

  <div class="pull-right">
    <button class="btn text-white bg-black" (click)="toggleView()">Add Configuration</button>
  </div>
  <h1 class="page-header f-s-18">Rules Configuration </h1>

  <div class="row">
    <div class="col-sm-12">
      <cats-ag-grid-table [myGridId]="'rulesGrid'" [title]="'Rules'" [rowData]="ruleList" [dbAllcolumns]="columnDefs"
        [tableHeight]="tableHeight" [responseTime]="responseTime" (eventDetect)="onEventDetect($event)">
      </cats-ag-grid-table>
    </div>

  </div>
</div>





<div class="container-fluid card" *ngIf="!isView">
  <h1 class="page-header f-s-18">Rule Configuration </h1>


  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Rule Name</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="caseModel.ruleName" placeholder="Enter Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Rule Description</label>
    </div>
    <div class="col-md-4">
      <textarea placeholder="Enter Rule Description" [(ngModel)]="caseModel.ruleDescription" class="form-control"
        rows="4"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Wait Time</label>
    </div>
    <div class="col-md-4">
      <input type="number" [(ngModel)]="caseModel.waittime" min='5' max='60' class="form-control" placeholder="Enter Number 5 to 60">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Priority</label>
    </div>

    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="caseModel.priority" >
        <option value=''>Select Priority</option>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
      </select>
    </div>
  </div>
  <hr class="bg-grey">
  <h1 class="page-header f-s-18">Alert Configuration</h1>
  <div class="row">
    <div class="col-md-3">
      <label for="">Alert Name</label>
    </div>
    <div class="col-md-9">
      <mat-form-field class="example-chip-list">
        <!-- <mat-label>Favorite Fruits</mat-label> -->
        <mat-chip-list #chipListAlarms aria-label="Fruit selection">
          <mat-chip *ngFor="let alarm of alarms" [selectable]="selectable" [removable]="removable"
            (removed)="remove(alarm,'alarm')">
            {{alarm}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Alarm..." [matChipInputFor]="chipListAlarms"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event,'alarm')">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Alarm Description</label>
    </div>
    <div class="col-md-4">
      <textarea placeholder="Enter AlarmDescription" [(ngModel)]="caseModel.alertDescription" class="form-control"
        rows="4"></textarea>
    </div>
  </div>

  <hr class="bg-grey">
  <h1 class="page-header f-s-18">Action Configuration</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group row">
        <div class="col-md-3">
          <label for="">SMS</label>
        </div>
        <div class="col-md-4">
          <label class="switch mb-0">
            <input type="checkbox"  [(ngModel)]="caseModel.sms"  checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group row">
        <div class="col-md-3">
          <label for="">Incident</label>
        </div>
        <div class="col-md-4">
          <label class="switch mb-0">
            <input type="checkbox"  [(ngModel)]="caseModel.incident"  checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group row">
        <div class="col-md-3">
          <label for="">Mail</label>
        </div>
        <div class="col-md-4">
          <label class="switch mb-0">
            <input type="checkbox"  [(ngModel)]="caseModel.mail"  checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>


  <hr class="bg-grey">
  <h1 class="page-header f-s-18">Host Configuration</h1>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Host IP Address</label>
    </div>
    <div class="col-md-9">
      <mat-form-field class="example-chip-list">
        <!-- <mat-label>Favorite Fruits</mat-label> -->
        <mat-chip-list #chipListHostIp aria-label="Host Ip selection">
          <mat-chip *ngFor="let hostip of hostips" [selectable]="selectable" [removable]="removable"
            (removed)="remove(hostip,'hostip')">
            {{hostip}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Host Ip..." [matChipInputFor]="chipListHostIp"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event,'hostip')">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>



  <div class="form-group row">
    <div class="col-md-3">
      <label for="">Host Name</label>
    </div>

    <div class="col-md-9">
      <mat-form-field class="example-chip-list">
        <!-- <mat-label>Favorite Fruits</mat-label> -->
        <mat-chip-list #chipListHostName aria-label="Host Name selection">
          <mat-chip *ngFor="let hostname of hostnames" [selectable]="selectable" [removable]="removable"
            (removed)="remove(hostname,hostname)">
            {{hostname}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Host Name..." [matChipInputFor]="chipListHostName"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event,'hostname')">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>

  <hr class="bg-grey">
  <h1 class="page-header f-s-18">Other Configuration</h1>
  <div class="form-group row">
    <div class="col-md-3">
      <label for="">NMS</label>
    </div>

    <div class="col-md-4">
      <!-- <select class="form-control">
        <option value=''> Select NMS</option>
        <option *ngFor="let nms of nmsList" [value]='nms.name'>{{nms.name}}</option>
      </select> -->

     
      <div class="btn-group">
        <button type="button" class="btn btn-default" style="width:216px; color:#000000;">Select NMS</button>
        <a href="javascript:;" style="color: #000000;" class="btn btn-default dropdown-toggle"
          (click)="showDDNMS($event,globalFilterModal)" id="{{globalFilterModal.identifier}}"></a>
        <ul class="dropdown-menu pull-right" click-outside [listening]="globalFilterModal.isListenOnBlur"
          [Ident]="globalFilterModal.identifier" (clickOutSide)="globalFilterClickOutSideNMS($event)">
          <!-- <form name="search">
            <div class="mx-2 mb-2">
              <input type="search" #searchVal class="form-control form-control-sm" placeholder="Search..."
                aria-controls="data-table-default">
            </div>
          </form> -->
          <div class="scroll_div" id="style-4">
            <li class="container1">
              <label class=""><strong>Select/ Unselect All</strong>
                <input type="checkbox" [(ngModel)]="globalFilterModal.masterSelectedNMS" name="list_name"
                  (change)="checkUncheckAll(globalFilterModal.nms,globalFilterModal.masterSelectedNMS)" />
                <span class="checkmark"
                  [ngClass]="(globalFilterModal.masterSelectedNMS) ?'bg-blue':''"></span>
              </label>
            </li>
            <!-- | filterByKey: 'name' :searchVal.value; let fvndx_=index; trackBy: trackByFn -->
            <li class="container1"
              *ngFor="let fVal_ of globalFilterModal.nms ">
              <label class="">{{fVal_.name}}
                <input type="checkbox" id="{{fvndx_}}" [(ngModel)]="fVal_.value" [checked]="fVal_.value"
                  (change)="isAllSelected(globalFilterModal.nms,'masterSelectedNMS')" />
                <span class="checkmark" [ngClass]="(fVal_.value) ?'bg-blue':''"></span>
              </label>
            </li>
          </div>
        </ul>
      </div>








    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 mb-2">
      <div class="row">
        <div class="col-md-6 text-center mt-3">
          <a class="btn btn-primary mr-2 text-white" (click)="onSubmit()">SUBMIT</a>
        </div>
        <div class="col-md-6 text-center mt-3">
          <a class="btn btn-primary mr-2 text-white" (click)="toggleView()">CANCEL</a>
        </div>
      </div>
    </div>
  </div>
</div>










<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rule Configuration</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group row">
      <div class="col-md-3">
        <label for="">Name</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" placeholder="Enter Name">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="">Rule</label>
      </div>
      <div class="col-md-9">
        <!-- <select class="form-control m-b-10">
      <option ng-reflect-value="">Select NMS</option>
      <option>N2000</option>
      <option>EMC</option>
      <option>INALA</option>
      <option>ADVA</option>
      <option><a href="#">RUCKUS</a></option>
    </select> -->
        <!-- <ng-multiselect-dropdown name="user" [placeholder]="'Select Status'" [data]="dropdownListStatus"
    [(ngModel)]="selectedItemsStatus" [settings]="dropdownSettingsInputSource">
  </ng-multiselect-dropdown> -->
        <div class="btn-group form-control p-0">
          <button type="button" class="btn btn-default bg-white text-left border-0"
            style="width:315px; color:#000000;">Select Rule</button>
          <a href="javascript:;" style="color:#000000;" class="btn btn-default dropdown-toggle bg-white border-0"
            (click)="showDDNMS($event)" id=""></a>
          <ul class="dropdown-menu pull-right">
            <!-- <form name="search">
            <div class="mx-2 mb-2">
                <input type="search" #searchVal class="form-control form-control-sm"
                    placeholder="Search..." aria-controls="data-table-default">
            </div>
        </form> -->
            <div class="scroll_div" id="style-4">
              <li class="container1">
                <label class="">Rule 1
                  <!-- <input type="checkbox" [(ngModel)]="globalFilterModal.masterSelectedNMS"
                        name="list_name"
                        (change)="checkUncheckAll(globalFilterModal.nms,globalFilterModal.masterSelectedNMS)" /> -->
                  <!-- <span class="checkmark"></span> -->
                </label>
              </li>
              <li class="container1">
                <label>Rule 2 </label>
              </li>
              <li class="container1">
                <label class=""> <a href="#">Create new link</a></label>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3">
        <label for="">NMS</label>
      </div>
      <div class="col-md-9">
        <select class="form-control">
          <option ng-reflect-value="">Select NMS</option>
          <option>N2000</option>
          <option>EMC</option>
          <option>INALA</option>
          <option>ADVA</option>
          <option>RUCKUS</option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3">
        <label for="">Priority</label>
      </div>
      <div class="col-md-9">
        <select class="form-control">
          <option ng-reflect-value="">Select Priority</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">SUBMIT</button>
  </div>
</ng-template>