
<div class="pull-right">
  <button class="btn text-white bg-black" (click)="open(content)">Add Configuration</button>
</div>

<h1 class="page-header f-s-18">Rule Configuration </h1>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rule Configuration</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
<div class="form-group row">
  <div class="col-md-3">
    <label for="">Name</label>
  </div>
  <div class="col-md-9">
    <input type="text" class="form-control" placeholder="Enter Name">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-3">
    <label for="">Rule</label>
  </div>
  <div class="col-md-9">
    <!-- <select class="form-control m-b-10">
      <option ng-reflect-value="">Select NMS</option>
      <option>N2000</option>
      <option>EMC</option>
      <option>INALA</option>
      <option>ADVA</option>
      <option><a href="#">RUCKUS</a></option>
    </select> -->
    <!-- <ng-multiselect-dropdown name="user" [placeholder]="'Select Status'" [data]="dropdownListStatus"
    [(ngModel)]="selectedItemsStatus" [settings]="dropdownSettingsInputSource">
  </ng-multiselect-dropdown> -->
  <div class="btn-group form-control p-0">
    <button type="button" class="btn btn-default bg-white text-left border-0" style="width:315px; color:#000000;">Select Rule</button>
    <a href="javascript:;" style="color:#000000;" class="btn btn-default dropdown-toggle bg-white border-0"
        (click)="showDDNMS($event)" id=""></a>
    <ul class="dropdown-menu pull-right">
        <!-- <form name="search">
            <div class="mx-2 mb-2">
                <input type="search" #searchVal class="form-control form-control-sm"
                    placeholder="Search..." aria-controls="data-table-default">
            </div>
        </form> -->
        <div class="scroll_div" id="style-4">
            <li class="container1">
                <label class="">Rule 1
                    <!-- <input type="checkbox" [(ngModel)]="globalFilterModal.masterSelectedNMS"
                        name="list_name"
                        (change)="checkUncheckAll(globalFilterModal.nms,globalFilterModal.masterSelectedNMS)" /> -->
                    <!-- <span class="checkmark"></span> -->
                </label>
            </li>
            <li class="container1">
                <label>Rule 2 </label>
            </li>
            <li class="container1">
              <label class=""> <a href="#">Create new link</a></label>
          </li>
        </div>
    </ul>
</div>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-3">
    <label for="">NMS</label>
  </div>
  <div class="col-md-9">
    <select class="form-control">
      <option ng-reflect-value="">Select NMS</option>
      <option>N2000</option>
      <option>EMC</option>
      <option>INALA</option>
      <option>ADVA</option>
      <option>RUCKUS</option>
    </select>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-3">
    <label for="">Priority</label>
  </div>
  <div class="col-md-9">
    <select class="form-control">
      <option ng-reflect-value="">Select Priority</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">SUBMIT</button>
  </div>
</ng-template>