
<!-- <ngx-trend
[height]="height"
autoDraw="false"
autoDrawDuration="0"
autoDrawEasing="ease-out"
smooth="true"
[data]="data"
[gradient]="[gradient]"
radius="0.1"
[strokeWidth]="strokeWidth"
strokeLinecap="butt"
>
</ngx-trend>  -->


<ngx-trend
      [height]="height"
      autoDraw="true"
      [autoDrawDuration]="autoDrawDuration"
      autoDrawEasing="ease-out"
      smooth="true"
      [data]="data"
      [gradient]="[gradient]"
      radius="13"
      strokeWidth="8.4"
      strokeLinecap="butt"
    >
    </ngx-trend>

<!-- <ngx-trend
height="20"
autoDraw="true"
autoDrawDuration="0"
autoDrawEasing="ease-out"
smooth="true"
[data]="[0,2,5,9,5,10,3,5,0,0,1,8,2,9,0]"
[gradient]="['#ff5b57']"
radius="0.1"
strokeWidth="2"
strokeLinecap="butt"
>
</ngx-trend>  -->
