.nodeHost {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;

    stroke: #afa689;
    stroke-width: 1.5;
}
.nodeService {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;

    stroke: #6eac7b;
    stroke-width: 1.5;
}
.nodeOuter {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;

    stroke: #000000;
    stroke-width: 0.25;
}
.node-name {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: rgb(0, 0, 0);
}
