<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<ng-container>
  <div class="row mb-2" style="margin-bottom:5px">
    <div class="col-lg-2 filterbar">
      <app-time-filter
        [configStyle]="{'width':'175','bgColor':'#ffffff','border':'0px','font-size':'11px','padding':'4px'}">
      </app-time-filter>
    </div>
    <div class="col-lg-2">
      <ng-multiselect-dropdown name="user" [placeholder]="'Select Severity'" [data]="dropdownListEventStatus"
        [(ngModel)]="selectedItemsEventStatus" [settings]="dropdownSettingsInputSource"
        (onSelect)="onItemEventStatus($event)" (onDeSelect)="onItemEventStatus($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-2">
      <ng-multiselect-dropdown name="user" [placeholder]="'Select Status'" [data]="dropdownListStatus"
        [(ngModel)]="selectedItemsStatus" [settings]="dropdownSettingsInputSource" (onSelect)="onItemStatus($event)"
        (onDeSelect)="onItemStatus($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-2">
      <ng-multiselect-dropdown name="user" [placeholder]="'Select Input Source'" [data]="dropdownListInputSource"
        [(ngModel)]="selectedItemsInputSource" [settings]="dropdownSettingsInputSource"
        (onSelect)="onItemInputSource($event)" (onDeSelect)="onItemInputSource($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-2">
      <div class="input-group filterbar">
        <input type="text" [formControl]="queryField" id="keyword" list="languages" class="form-control"
          placeholder="Search Host">
        <div class="input-group-append">
          <button class="btn btn-dark bg-{{themeConf_.selectedColor}}" type="button" (click)="searchCiFilter()">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <datalist id="languages" *ngIf="checkResultLength()">
          <option *ngFor="let result of results" value="{{result.name}}">{{result.name}}</option>
        </datalist>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="input-group filterbar">
        <input type="text" [(ngModel)]="queryFieldMessage" id="message" name="message" class="form-control"
          placeholder="Search Message">
        <div class="input-group-append">
          <button class="btn btn-dark bg-{{themeConf_.selectedColor}}" type="button" (click)="searchCiFilterMessage()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<panel [title]="'Events'" [buttonArr]="['collapse']" [collapse]="!chartShowing" (event)="getPanelEvent($event);">
  <div class="row mt-1">
    <div class="col-lg-12" *ngIf="areaRangeData.length>0">
      <!-- <fusioncharts [width]="width" [height]="eventPageheight" [type]="type" [dataFormat]="dataFormat"
        [dataSource]="eventPageDataSource">
      </fusioncharts> -->
      <!-- <div #chartTargetPrediction [style.width.px]="width" [style.height.px]="height"> 
      </div> -->
      <cats-am-area-range-chart [chartUniqueId]="'eventChartdiv'" [titleChart]="'Events Data'"
        [dataProvider]="areaRangeData" [heightPixel]="height"></cats-am-area-range-chart>
    </div>
  </div>
</panel>
<cats-ag-grid-table [title]="'Events Data'" [myGridId]="'eventGrid'" [rowData]="mData" [dbAllcolumns]="dbAllcolumns"
  [timeLeft]="timeLeft" [tableHeight]="tableHeight" [timeRange]="timeRange" [responseTime]="responseTime"
  (eventDetect)="onEventDetect($event)">
  <!-- <ng-container customPagination>
          <div class="row m-t-5">
            <div class="col-sm-12 col-md-4">
            </div>
    
            <div class="col-sm-12 col-md-4">
              <div class="dataTables_paginate paging_simple_numbers pull-left" id="data-table-fixed-header_paginate">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm"
                  style="float:right; margin:0px;">
                  <li style="margin-top: 2%;">Showing page : {{pager.currentPage}}</li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)" class="cursor">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)" class="cursor">Previous</a>
                  </li>
    
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)" class="cursor">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)" class="cursor">Last ( {{totalPages}} )</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
            </div>
          </div> 
      </ng-container> -->

</cats-ag-grid-table>

<button id="modalButtonOpen" (click)="openFullScreen(modalDialogOpen)" hidden>Open Model</button>

<ng-template #modalDialogOpen let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color: #000000;">
    <h5 class="modal-title" style="color: #ffffff;">Event View</h5>
    <button type="button" class="close" (click)="d('Cross click')">×</button>
  </div>
  <div class="modal-body" id="tab_w_50">
    <div class="row">
      <div class="col-lg-8">
        <!-- <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat"
                  [dataSource]="dataSource">
                </fusioncharts> -->
        <cats-am4-column-chart [titleChart]="titleChart" [chartUniqueId]="chartId" [heightPixel]="height"
          [widthPer]="width" [dataProvider]="dataSource.data" *ngIf="dataSource.data?.length>0"></cats-am4-column-chart>
       
          <!-- <div class="mb-2">
          <img src="../../../assets/images/chart.jpg" style="width:100%;">
        </div> -->
      </div>
      <div class="col-lg-4">
        <div class="row">
          <label class="col-md-5 col-form-label">Nearby</label>         
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="date">
              <input type="number" name="count" class="form-control" placeholder="5" min="1"
                [(ngModel)]="modelTimeRange.count">
            </div>
          </div>
          <div class="col-md-5">
            <select class="form-control" name='type' [(ngModel)]="modelTimeRange.type">
              <option value="min">Minutes</option>
              <option value="sec">Seconds</option>
              <option value="hour">Hour</option>
            </select>
          </div>
          <div class="col-md-4">
              <button (click)="clickOnApplyTimeRange()"
                class="btn btn-block btn-dark bg-{{themeConf_.selectedColor}}">Apply</button>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4">
                <select class="form-control" name='type' [(ngModel)]="modelTimeRange.type">
                  <option value="min">Minutes</option>
                  <option value="sec">Seconds</option>
                  <option value="hour">Hour</option>
                </select>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  <div class="row">
                    <button (click)="clickOnApplyTimeRange()"
                      class="btn btn-block btn-dark bg-{{themeConf_.selectedColor}}">Apply</button>
                  </div>
                </div>
            </div> -->
        
      </div>

    </div>

    <form class="form-bordered">
      <ngb-tabset (tabChange)="onTabChange($event)" #ngbtabs>
        <ngb-tab [id]="'event'">
          <ng-template ngbTabTitle>
            <span class="d-sm-none">Event Management</span>
            <span class="d-sm-block d-none">Event Management</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-md-3">
                <select class="form-control m-b-10" id="filterTagsearch" name="event_status"
                  [(ngModel)]="eViewModal.filter.severity">
                  <option value="">Select Severity</option>
                  <option value="CRITICAL">CRITICAL</option>
                  <option value="INDETERMINATE">INDETERMINATE</option>
                  <option value="MAJOR">MAJOR</option>
                  <option value="MINOR">MINOR</option>
                  <option value="WARNING">WARNING</option>
                </select>
              </div>
              <div class="col-md-4">
                <select class="form-control m-b-10" id="filterTagsearch" name="event_status" [(ngModel)]="eViewModal.filter.inputSource">
                  <option value="">Select Input Source</option>
                  <option value="CRITICAL">ADVA NMS</option>
                  <option value="INDETERMINATE">INALA</option>
                  <option value="MAJOR">ECI NMS</option>
                  <option value="MINOR">EMC NMS</option>
                  <option value="WARNING">MERAKI</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">Left Section</div>
              <div class="col-sm-10">
                  <cats-grid-smart-table [chartTitle]="'Events Data'"  [incidentList]="eViewModal.rowData" 
                   [heightPx]="'200'" [dbAllcolumns]="eViewModal.dbAllColumns" [allowCogs]="false">
                 </cats-grid-smart-table>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab [id]="'service'">
          <ng-template ngbTabTitle>
            <span class="d-sm-none">Service Management</span>
            <span class="d-sm-block d-none">Service Management</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row">
              <!-- <div class="col-md-4">
                <div class="row">
                  <label class="col-md-2 col-form-label">Nearby</label>
                  <div class="col-md-3">
                    <div class="date">
                      <input type="number" name="count" class="form-control" placeholder="5" min="1"
                        [(ngModel)]="modelTimeRange.count">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" name='type' [(ngModel)]="modelTimeRange.type">
                      <option value="min">Minutes</option>
                      <option value="sec">Seconds</option>
                      <option value="hour">Hour</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <button (click)="clickOnApplyTimeRange()"
                        class="btn btn-block btn-dark bg-{{themeConf_.selectedColor}}">Apply</button>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="col-md-3">
                <select class="form-control m-b-10" id="filterTagsearch" name="event_status">
                  <option>Select Severity</option>
                  <option value="CRITICAL">CRITICAL</option>
                  <option value="INDETERMINATE">INDETERMINATE</option>
                  <option value="MAJOR">MAJOR</option>
                  <option value="MINOR">MINOR</option>
                  <option value="WARNING">WARNING</option>
                </select>
              </div>
              <div class="col-md-5">
                <select class="form-control m-b-10" id="filterTagsearch" name="event_status">
                  <option value="">Select Input Source</option>
                  <option value="CRITICAL">ADVA NMS</option>
                  <option value="INDETERMINATE">INALA</option>
                  <option value="MAJOR">ECI NMS</option>
                  <option value="MINOR">EMC NMS</option>
                  <option value="WARNING">MERAKI</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">Left Section</div>
                <div class="col-sm-10">
                    <cats-grid-smart-table [chartTitle]="'Service Data'"  [incidentList]="sViewModal.rowData" 
                     [heightPx]="'200'" [allowCogs]="false">
                   </cats-grid-smart-table>
                </div>
              </div>
            <!-- </div> -->

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </form>


  </div>
</ng-template>


<button id="modalViewEvent" (click)="openMidScreen(modalViewEventDialog)" [hidden]="true" data-toggle="modal"
  data-target="#modalTrendDialog">
  Open Modal
</button>
<ng-template #modalViewEventDialog let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header" style="background-color: #000000;">
      <h5 class="modal-title" style="color: #ffffff;">Event Data </h5>
      <button type="button" class="close" (click)="d('Cross click')">×</button>
    </div>

    <div class="modal-body" id="tab_w_50" style="background-color: #ffffff;">

      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="d-sm-none">Description</span>
            <span class="d-sm-block d-none">Description</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="style-4" style="height:330px; overflow:auto;">
              <table class="table table-bordered mb-0 table-sm">
                <tr *ngFor="let key of selectedEventKeys;let i=index">
                  <td *ngIf="i>2" width="20%" class="text-capitalize"><strong>{{key}} </strong></td>
                  <td *ngIf="i>2" width="80%">{{this.selectedEvent[key]}}</td>
                </tr>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="d-sm-none">Raw Data</span>
            <span class="d-sm-block d-none">Raw Data</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="style-4" style="height:330px; overflow:auto;">
              {{this.selectedEvent?this.selectedEvent["rawevent"]:""}}
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>
</ng-template>