<h5 mat-dialog-title class="modal-title"> SIA Report
  <i class="fas fa-fw fa-download" style="width:3%;" (click)="exportReportDataSia()"></i>
  <button type="button" class="close" style="float:right;" mat-dialog-close>×</button></h5>
<mat-dialog-content>
  <ngx-loading [show]="loading" style="width:'100%';height:'100%'" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>
  <div style="width:100%; overflow:auto;" class="device" *ngIf="isSiaLoaded">
    <ag-grid-angular style="width:100%; height:400px" #agGrid id="myGridSia" class="ag-theme-balham"
      [rowData]="siaReportData" [columnDefs]="columnDefsSia" [context]="context" (gridReady)="onGridReadySia($event)">
    </ag-grid-angular>
  </div>
</mat-dialog-content>