<div class="In2_top_filter">
  <div class="gf_box pull-right">
    <div class="box-inner">
      <div class="pull-right" style="margin-right:10px;">
        <div class="button-group">
          <app-time-filter
            [configStyle]="{'width':'220','bgColor':'#ececec','border':'1px solid #ccc' ,'customRanges':dateFillter_customRanges ,'startDate':dateFilter_startDate ,'endDate':dateFilter_endDate ,'timeType':dateFilter_timeType ,'timePicker':true}">
          </app-time-filter>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="page-header"><i class="fa fa-users"></i> Episode Board <span></span></h1>

<div class="row">
  <!-- begin card-group -->
  <div class="card-group m-b-10 col-md-12 px-0">
    <div class="col-xl-3">
      <!-- begin #accordion -->
      <div id="accordion" class="accordion">
        <!-- begin card -->
        <div class="card text-white width-250 bg-grey-lighter">
          <div class="card-header text-black bg-grey-lighter pointer-cursor text-center align-items-center font-weight-bold"
            data-toggle="collapse" data-target="#collapseOne">
            OPENED
          </div>
          <div id="collapseOne" class="collapse show" data-parent="#accordion" id="style-4"
            style="max-height:470px; overflow:auto; background: #f2f3f4;">
            <div class="card-body m-10 shadow" *ngFor="let data of taskData.opened">
              <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
              <!-- <h4>Assigned to : Sudhir Shukla</h4> -->
              <a class="badge bg-danger f-s-11 p-4" style="cursor:pointer;" (click)="navigateToSituation(data)"><i class="fa fa-info-circle"></i> &nbsp; # {{data.id}}</a>
              <div class="f-s-12 text-dark">{{data.time}}</div>
              <div class="f-s-12 text-dark">{{data.network}}</div>
              <!-- <div class="f-s-12 text-dark">{{data.ticket_number}}</div>
              <div class="f-s-12 text-dark">{{data.tech}}</div> -->
              <div class="f-s-12 text-dark">{{data.scope}}</div>
              <div style="margin-top:5px;">
                <a (click)="open(content)" class="btn btn-info btn-xs text-white f-s-11" style="border-radius:10px;"><input
                    class="radio radio-css" type="radio">&nbsp;Assign</a>
                    <a class="btn btn-info btn-xs text-white f-s-11 ml-1" style="border-radius:10px;"><input
                      class="radio radio-css" type="radio">&nbsp;Own</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
    <!-- begin card -->
    <div class="col-xl-3">
      <!-- begin #accordion -->
      <div id="accordion" class="accordion">
        <!-- begin card -->
        <div class="card text-black width-250 bg-grey-lighter">
          <div class="card-header pointer-cursor bg-grey-lighter text-center align-items-center collapsed font-weight-bold"
            data-toggle="collapse" data-target="#collapseTwo">
            ASSIGNED
          </div>
          <div id="collapseTwo" class="collapse show" data-parent="#accordion" id="style-5"
            style="max-height:470px; overflow:auto; background: #f2f3f4;">
            <div class="card-body m-10 shadow" *ngFor="let data of taskData.assigned">
              <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
              <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # {{data.id}}</span>
              <h6 class="mb-1 mt-2">Assigned to : {{data.username}}</h6>
              <div class="f-s-12 text-dark">{{data.time}}</div>
              <div class="f-s-12 text-dark">{{data.network}}</div>
              <!-- <div class="f-s-12 text-dark">{{data.ticket_number}}</div>
              <div class="f-s-12 text-dark">{{data.tech}}</div> -->
              <div style="margin-top:5px;">
                <a class="btn btn-info btn-xs text-white f-s-11" style="border-radius: 10px;"><input
                    class="radio radio-css" type="radio">&nbsp;Acknowledge</a>
              </div>
            </div>

          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
    <!-- begin card -->
    <div class="col-xl-3">
      <!-- begin #accordion -->
      <div id="accordion" class="accordion">
        <!-- begin card -->
        <div class="card text-white width-250 bg-grey-lighter">
          <div class="card-header text-black bg-grey-lighter text-center text-center collapsed font-weight-bold" data-toggle="collapse"
            data-target="#collapseThree">
            IN PROGRESS
          </div>
          <div id="collapseThree" class="collapse show" data-parent="#accordion" id="style-6"
            style="max-height:470px; overflow:auto; background: #f2f3f4;">
            <div class="card-body m-10 shadow" *ngFor="let data of taskData.inprogress">
              <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # {{data.id}}</span>
              <h6 class="mb-1 mt-2">Assigned to : {{data.username}}</h6>
              <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
              <div class="f-s-12 text-dark">{{data.time}}</div>
              <div class="f-s-12 text-dark">{{data.network}}</div>
              <!-- <div class="f-s-12 text-dark">{{data.ticket_number}}</div>
              <div class="f-s-12 text-dark">{{data.tech}}</div> -->
              <div style="margin-top:5px;">
                <a class="btn btn-info btn-xs text-white f-s-11" style="border-radius: 10px;"><input
                    class="radio radio-css" type="radio">&nbsp;Resolve</a>
              </div>
            </div>

          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
    <!-- begin card -->
    <div class="col-xl-3">
      <!-- begin #accordion -->
      <div id="accordion" class="accordion">
        <!-- begin card -->
        <div class="card text-black width-250 bg-grey-lighter">
          <div class="card-header pointer-cursor bg-grey-lighter text-center align-items-center collapsed font-weight-bold"
            data-toggle="collapse" data-target="#collapseFour">
            RESOLVED
          </div>
          <div id="collapseFour" class="collapse show" data-parent="#accordion" id="style-7"
            style="max-height:470px; overflow:auto; background:#f2f3f4;">
            <div class="card-body m-10 shadow" *ngFor="let data of taskData.resolved">
              <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # {{data.id}}</span>
              <h6 class="mb-1 mt-2">Assigned to : {{data.resolved}}</h6>
              <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
              <div class="f-s-12 text-dark">{{data.time}}</div>
              <div class="f-s-12 text-dark">{{data.network}}</div>
              <!-- <div class="f-s-12 text-dark">{{data.ticket_number}}</div>
              <div class="f-s-12 text-dark">{{data.tech}}</div> -->
              <div style="margin-top:10px;">
                    <a class="btn btn-info btn-xs text-white f-s-11" style="border-radius: 10px;">
                      <input class="radio radio-css" type="radio">&nbsp;Close</a>
                  </div>
               
            </div>
          </div>
          <!-- end card -->
        </div>
      </div>
      <!-- end card-group -->
    </div>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Assign to</h5>

      <!-- <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Filter By</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div ngbDropdownItem>Action - 1</div>
          <div ngbDropdownItem>Another Action</div>
          <div ngbDropdownItem>Something else is here</div>
        </div>
      </div> -->

      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" style="width:130px; color:#000000;">Filter By</button>
        <a href="javascript:;" style="color:#000000;" class="btn btn-default btn-sm dropdown-toggle" (click)="showDD($event,globalFilterModal)" id="{{globalFilterModal.identifier}}"></a>
        <ul class="dropdown-menu pull-right" click-outside [listening]="globalFilterModal.isListenOnBlur" [Ident]="globalFilterModal.identifier" (clickOutSide)="globalFilterClickOutSide($event)">
            <div class="scroll_div" id="style-4">
              <li>
                <div class="form-check"><input type="checkbox" id="dropdownCheck" class="form-check-input">
                  <label for="dropdownCheck" class="form-check-label"> Technology </label>
                </div>
              </li>
              <li>
                <div class="form-check"><input type="checkbox" id="dropdownCheck1" class="form-check-input">
                  <label for="dropdownCheck1" class="form-check-label"> Team </label>
                </div>
              </li>
            </div>
        </ul>
    </div>





      <button type="button" style="outline:none;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="style-8" style="max-height:370px; overflow-y: auto;">
      <div class="scroll_div" >
<div class="row">
  <div class="col-md-4 box">      
          <div class="container1 selected">
            <div class="row">
              <div class="col-md-3 pr-0">
                <input type="checkbox" checked="checked"/>
                <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
              </div>
              <div class="col-md-9">
                <div class="checkmark">
                  <div><span>Assigned to</span><span> Vikas Kumar</span></div>
                  <div><span>Work Load</span><span>10 Tickets </span></div>
                  <div><span>Situations Resolved</span><span>180</span></div>
                  <div><span>Technology</span><span>IP</span></div>
                  <div><span>Average Rating</span><span>4.2</span></div>
                </div>
              </div>
            </div>
        </div>
        <div class="container1">
          <div class="row">
            <div class="col-md-3 pr-0">
              <input type="checkbox"/>
              <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
            </div>
            <div class="col-md-9">
              <div class="checkmark">
                <div><span>Assigned to</span><span> Vikas Kumar</span></div>
                <div><span>Work Load</span><span>10 Tickets </span></div>
                <div><span>Situations Resolved</span><span>180</span></div>
                <div><span>Technology</span><span>IP</span></div>
                <div><span>Average Rating</span><span>4.2</span></div>
              </div>
            </div>
          </div>
      </div>
      <div class="container1">
        <div class="row">
          <div class="col-md-3 pr-0">
            <input type="checkbox"/>
            <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
          </div>
          <div class="col-md-9">
            <div class="checkmark">
              <div><span>Assigned to</span><span> Vikas Kumar</span></div>
              <div><span>Work Load</span><span>10 Tickets </span></div>
              <div><span>Situations Resolved</span><span>180</span></div>
              <div><span>Technology</span><span>IP</span></div>
              <div><span>Average Rating</span><span>4.2</span></div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-4">
        <div class="container1">
          <div class="row">
            <div class="col-md-3 pr-0">
              <input type="checkbox"/>
              <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
            </div>
            <div class="col-md-9">
              <div class="checkmark">
                <div><span>Assigned to</span><span> Vikas Kumar</span></div>
                <div><span>Work Load</span><span>10 Tickets </span></div>
                <div><span>Situations Resolved</span><span>180</span></div>
                <div><span>Technology</span><span>IP</span></div>
                <div><span>Average Rating</span><span>4.2</span></div>
              </div>
            </div>
          </div>
      </div>
      <div class="container1">
        <div class="row">
          <div class="col-md-3 pr-0">
            <input type="checkbox"/>
            <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
          </div>
          <div class="col-md-9">
            <div class="checkmark">
              <div><span>Assigned to</span><span> Vikas Kumar</span></div>
              <div><span>Work Load</span><span>10 Tickets </span></div>
              <div><span>Situations Resolved</span><span>180</span></div>
              <div><span>Technology</span><span>IP</span></div>
              <div><span>Average Rating</span><span>4.2</span></div>
            </div>
          </div>
        </div>
    </div>
    <div class="container1">
      <div class="row">
        <div class="col-md-3 pr-0">
          <input type="checkbox"/>
          <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
        </div>
        <div class="col-md-9">
          <div class="checkmark">
            <div><span>Assigned to</span><span> Vikas Kumar</span></div>
            <div><span>Work Load</span><span>10 Tickets </span></div>
            <div><span>Situations Resolved</span><span>180</span></div>
            <div><span>Technology</span><span>IP</span></div>
            <div><span>Average Rating</span><span>4.2</span></div>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="container1">
      <div class="row">
        <div class="col-md-3 pr-0">
          <input type="checkbox"/>
          <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
        </div>
        <div class="col-md-9">
          <div class="checkmark">
            <div><span>Assigned to</span><span> Vikas Kumar</span></div>
            <div><span>Work Load</span><span>10 Tickets </span></div>
            <div><span>Situations Resolved</span><span>180</span></div>
            <div><span>Technology</span><span>IP</span></div>
            <div><span>Average Rating</span><span>4.2</span></div>
          </div>
        </div>
      </div>
  </div>
  <div class="container1">
    <div class="row">
      <div class="col-md-3 pr-0">
        <input type="checkbox"/>
        <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
      </div>
      <div class="col-md-9">
        <div class="checkmark">
          <div><span>Assigned to</span><span> Vikas Kumar</span></div>
          <div><span>Work Load</span><span>10 Tickets </span></div>
          <div><span>Situations Resolved</span><span>180</span></div>
          <div><span>Technology</span><span>IP</span></div>
          <div><span>Average Rating</span><span>4.2</span></div>
        </div>
      </div>
    </div>
</div>
<div class="container1">
  <div class="row">
    <div class="col-md-3 pr-0">
      <input type="checkbox"/>
      <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
    </div>
    <div class="col-md-9">
      <div class="checkmark">
        <div><span>Assigned to</span><span> Vikas Kumar</span></div>
        <div><span>Work Load</span><span>10 Tickets </span></div>
        <div><span>Situations Resolved</span><span>180</span></div>
        <div><span>Technology</span><span>IP</span></div>
        <div><span>Average Rating</span><span>4.2</span></div>
      </div>
    </div>
  </div>
</div>
</div>


</div>
</div>

     

      <!-- <div class="btn-group">
        <button type="button" class="btn btn-default" style="width:250px; color:#000000;">Select Asignee</button>
        <a href="javascript:;" style="color: #000000;" class="btn btn-default dropdown-toggle" (click)="showDD($event,globalFilterModal)" id="{{globalFilterModal.identifier}}"></a>
        <ul class="dropdown-menu pull-right" click-outside [listening]="globalFilterModal.isListenOnBlur" [Ident]="globalFilterModal.identifier" (clickOutSide)="globalFilterClickOutSide($event)">
           
            <div class="scroll_div" id="style-4">
                <li class="container1">
                  <label class="mb-0">
                    <div style="float:left;">
                      <input type="checkbox"/>
                      <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
                    </div>
                    <div class="checkmark" style="float:left;">
                      <div><span>Work Load</span>10 Tickets</div>
                      <div><span>Situations Resolved</span>180</div>
                        <div><span>Technology</span>IP</div>
                        <div><span>Average Rating</span>4.2</div>
                    </div>
                </label>
                </li>
                <li class="container1">
                  <label class="mb-0">
                    <div style="float:left;">
                      <input type="checkbox"/>
                      <img src="assets/img/user/user-13.jpg" alt="" class="image-circle"/>
                    </div>
                    <div class="checkmark" style="float:left;">
                      <div><span>Work Load</span>10 Tickets</div>
                      <div><span>Situations Resolved</span>180</div>
                        <div><span>Technology</span>IP</div>
                        <div><span>Average Rating</span>4.2</div>
                    </div>
                </label>
                </li>
            </div>
        </ul>
    </div> -->
     
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark btn-primary" (click)="modal.close('Save click')">Assign</button>
    </div>
    
  
  </ng-template>
  
  
 