.page-header{
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-dark{margin:2px 0;}

.shadow {
    /* box-shadow: 0px 3px 5px 0px rgba(0,0,0,.15)!important; */
    box-shadow: none !important;
    border-radius: 5px;
    border: 1px solid #c2c2c2 !important;
}

.card{margin-bottom:0px !important;}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.8rem; background-color: #ffffff;
}

.image-circle{max-width:40px; border-radius:30px; margin-left:12px;}
.dropdown-menu.show{padding:10px; width:100%;}

.container1{border:1px solid #ddd; padding:6px; margin-bottom:10px; border-radius:5px; }
.container1:last-child{border:1px solid #ddd; padding:6px;}

.selected{border:1px solid #2196F3; background-color:#e9f2f7; }

.checkmark{float:left; width: calc(100% - 0px);}
.checkmark div{margin-bottom:2px; font-weight:600; float:left; width:100%;}
.checkmark div span{color:#666666; float:left;}
.checkmark div span:last-child{color:#333333; float:right;}


.box ul{margin:0; padding:0;}

::ng-deep .my-class .modal-dialog { max-width:80%; width:80%; margin-top:4%;}


#style-4::-webkit-scrollbar-track{background-color:#2d353c; border-radius:15px; height:10px;}
#style-4::-webkit-scrollbar{width:5px; background-color:F5F5F5; height:7px; border-radius:15px; height:200px;}
#style-4::-webkit-scrollbar-thumb{background: rgba(255,255,255,.5)!important; border:2px solid rgb(236, 218, 218); border-radius:15px;height: 200px; }
#style-5::-webkit-scrollbar-track{background-color:#2d353c; border-radius:15px; height:10px;}
#style-5::-webkit-scrollbar{width:5px; background-color:F5F5F5; height:7px; border-radius:15px; height:200px;}
#style-5::-webkit-scrollbar-thumb{background: rgba(255,255,255,.5)!important; border:2px solid rgb(236, 218, 218); border-radius:15px;height: 200px; }
#style-6::-webkit-scrollbar-track{background-color:#2d353c; border-radius:15px; height:10px;}
#style-6::-webkit-scrollbar{width:5px; background-color:F5F5F5; height:7px; border-radius:15px; height:200px;}
#style-6::-webkit-scrollbar-thumb{background: rgba(255,255,255,.5)!important; border:2px solid rgb(236, 218, 218); border-radius:15px;height: 200px; }
#style-7::-webkit-scrollbar-track{background-color:#2d353c; border-radius:15px; height:10px;}
#style-7::-webkit-scrollbar{width:5px; background-color:F5F5F5; height:7px; border-radius:15px; height:200px;}
#style-7::-webkit-scrollbar-thumb{background: rgba(255,255,255,.5)!important; border:2px solid rgb(236, 218, 218); border-radius:15px;height: 200px; }

#style-8::-webkit-scrollbar-track{background-color:#2d353c; border-radius:15px; height:10px;}
#style-8::-webkit-scrollbar{width:5px; background-color:F5F5F5; height:7px; border-radius:15px; height:200px;}
#style-8::-webkit-scrollbar-thumb{background: rgba(255,255,255,.5)!important; border:2px solid rgb(236, 218, 218); border-radius:15px;height: 200px; }