/* .close-button{
    margin-top: -15%;
    margin-right: -8%;
} */

.item{
    border: 0px solid;
}
.subitem{
    border: 1px solid;
}

::ng-deep.mat-dialog-container{padding:0px !important;}
::ng-deep.mat-dialog-content{margin:0px !important;}
::ng-deep.mat-dialog-title {margin:0 0 15px; display:block; font-size:15px; font-weight:600 !important;
font-family:'Muli', sans-serif !important; background:#242a30; color:#fff; padding:4px 10px;}
::ng-deep button.close {color: #fff; opacity:1; margin-top:8px;}
::ng-deep button.close:hover {color: #fff; opacity:1;}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{color: #fff; opacity:1;}
   

::ng-deep#tab_w_50 .nav-item {width: 50%; text-align: center; font-weight: 600; font-size:13px;}
::ng-deep #tab_w_50 .nav-tabs {border: 1px solid #ddd !important; background: #c1ccd1 !important;}
::ng-deep #tab_w_50 .nav-tabs .nav-link {padding: 6px 15px !important; color: #000000;}
::ng-deep#tab_w_50 .tab-content {width: 100%; min-height: 330px; height: auto; margin-bottom: 0px;}
::ng-deep #tab_w_50 .dropdown {width: 100%;}
::ng-deep#tab_w_50 .dropdown a {width: 40px;}