
<div class="In2_top_filter">
<div class="gf_box pull-right">
  <div class="box-inner">
<div class="pull-right" style="margin-right:10px;">
  <div class="button-group">
      <app-time-filter [configStyle]="{'width':'220','bgColor':'#ececec','border':'1px solid #ccc' ,'customRanges':dateFillter_customRanges ,'startDate':dateFilter_startDate ,'endDate':dateFilter_endDate ,'timeType':dateFilter_timeType ,'timePicker':true}">
      </app-time-filter>
  </div>
</div>
</div>
</div>
</div>

<h1 class="page-header"><i class="fa fa-users"></i> Task Board <span></span></h1>

<div class="row">
      <!-- begin card-group -->
      <div class="card-group m-b-10 col-md-12 px-0">        
        <div class="col-xl-3">
          <!-- begin #accordion -->
          <div id="accordion" class="accordion">
            <!-- begin card -->
            <div class="card text-white width-250">
              <div class="card-header text-black pointer-cursor text-center align-items-center font-weight-bold" data-toggle="collapse" data-target="#collapseOne">
                  OPENED
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion" id="style-4" style="max-height:475px; overflow:auto;">
                <div class="card-body m-10 border shadow" >
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                 <!-- <h4>Assigned to : Sudhir Shukla</h4> -->
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Assigned</a>
                  </div>
                </div> 
                <div class="card-body m-10 border shadow" >
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Assigned</a>
                  </div>
                </div> 

                <div class="card-body m-10 border shadow" >
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Assigned</a>
                  </div>
                </div> 
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>	
        <!-- begin card -->
        <div class="col-xl-3">
          <!-- begin #accordion -->
          <div id="accordion" class="accordion">
            <!-- begin card -->
            <div class="card text-black width-250">
              <div class="card-header pointer-cursor text-center align-items-center collapsed font-weight-bold" data-toggle="collapse" data-target="#collapseTwo">
                  ASSIGNED
              </div>
              <div id="collapseTwo" class="collapse show" data-parent="#accordion" id="style-5" style="max-height:475px; overflow:auto;">
                <div class="card-body m-10 border shadow" >
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6>                 
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;In Progress</a>
                  </div>
                </div> 
                <div class="card-body m-10 border shadow" >
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6>                 
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;In Progress</a>
                  </div>
                </div> 
                <div class="card-body m-10 border shadow" >
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6>                 
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;In Progress</a>
                  </div>
                </div> 
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>	
        <!-- begin card -->
        <div class="col-xl-3">
          <!-- begin #accordion -->
          <div id="accordion" class="accordion">
            <!-- begin card -->
            <div class="card text-white width-250">
              <div class="card-header text-black text-center text-center collapsed font-weight-bold" data-toggle="collapse" data-target="#collapseThree">
                  IN PROGRESS
              </div>
              <div id="collapseThree" class="collapse show" data-parent="#accordion" id="style-6" style="max-height:475px; overflow:auto;"> 
                <div class="card-body m-10 border shadow" >
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6>                 
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Resolve</a>
                  </div>
                </div> 
                <div class="card-body m-10 border shadow" >
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6> 
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Resolve</a>
                  </div>
                </div> 
                <div class="card-body m-10 border shadow" >
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6> 
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Resolve</a>
                  </div>
                </div> 
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>	
        <!-- begin card -->
        <div class="col-xl-3">
          <!-- begin #accordion -->
          <div id="accordion" class="accordion">
            <!-- begin card -->
            <div class="card text-black width-250">
              <div class="card-header pointer-cursor text-center align-items-center collapsed font-weight-bold" data-toggle="collapse" data-target="#collapseFour">
                  RESOLVED
              </div>
              <div id="collapseFour" class="collapse show" data-parent="#accordion" id="style-7" style="max-height:475px; overflow:auto;">
                <div class="card-body m-10 border shadow" >
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6> 
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <!-- <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Resolve</a> -->
                  </div>
                </div>
                <div class="card-body m-10 border shadow" >
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6> 
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <!-- <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Resolve</a> -->
                  </div>
                </div>
                <div class="card-body m-10 border shadow" >
                  <h6 class="mb-1">Assigned to : Sudhir Shukla</h6> 
                  <!-- <h4 class="widget-header-title p-0 mb-5"><img src="assets/img/user/user-13.jpg" alt="" class="image" style="border-radius:40px;height:40px;"/><i class="fa fa-circle text-green f-s-8 mr-2"></i></h4> -->
                  <div class="f-s-12 text-dark">data.time</div>
                  <div class="f-s-12 text-dark">data.network</div>
                  <div class="f-s-12 text-dark">data.ticket_number</div>
                  <div class="f-s-12 text-dark">data.tech</div>
                  <div style="margin-top:10px;">
                    <span class="badge bg-danger f-s-11 p-4"><i class="fa fa-info-circle"></i> &nbsp; # data.id</span>
                    <!-- <a class="btn btn-info btn-xs text-white f-s-11" style="float: right;border-radius: 10px;"><input class="radio radio-css" type="radio">&nbsp;Resolve</a> -->
                  </div>
                </div>
            </div>
            <!-- end card -->
          </div>
        </div>
      <!-- end card-group -->
  </div>
</div> 