/* #chartdiv {
    width: 100%;
    height: 250px;
  } */
  #chartdiv {
    width: 100%;
    height: 325px;
    font-size: 11px; 
     
    /* background: linear-gradient(to bottom, rgb(236, 237, 239) 0%, rgb(168, 169, 173) 100%); */
    /* W3C */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bdd2f7', endColorstr='#4f60a5', GradientType=0); */
    /* IE6-8 */
  }
   #legendwrapper {
    width: 100%;
    height: 200;
    border: 1px dotted #c99;
    margin: 1em 0;
  }
  
  #legenddiv {
    height: 150px;
  }
  
  #legendwrapper {
    max-height: 120px;
    overflow-x: none;
    overflow-y: auto;
  }